.containTeeth {
    width: 42px;
    height: 42px;
    border: 2px solid #000;
    transform: rotate(45deg);
    border-radius: 50%;
    position: relative;
    box-sizing: content-box;
}

.hidden {
    display: none;
}

.toothNumber {
    margin: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.toothNumber:hover {
    font-weight: bold;
}

.tooth {
    width: 20px;
    height: 20px;
    outline: 2px solid #000;
    position: absolute;
    background-color: #fff;
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
        background-color: #dedede !important;
    }
}

.tooth.top {
    top: 0;
    left: 0;
    border-top-left-radius: 100%;
}

.tooth.bottom {
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 100%;
}

.tooth.left {
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 100%;
}

.tooth.right {
    top: 0;
    right: 0;
    border-top-right-radius: 100%;
}

.tooth.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.unselected {
    background-color: #fff;
}

.tootContainer {
    display: flex;
    justify-content: center;
}

.tootItem {
    display: flex;
    padding: 3px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tooth.caries {
    background-color: #dc2626;
}

.tooth.curator {
    background-color: #2563eb;
}

.tooth.brown {
    background-color: #d97706;
}

.tooth.wear {
    background-color: #16a34a;
}

.tooth.attrition {
    background-color: #8b5cf6;
}

.tooth.abfraction {
    background-color: #3b82f6;
}

.tooth.erosion {
    background-color: #22c55e;
}

.tooth.hypoplasia {
    background-color: #f59e0b;
}

.tooth-status {
    position: absolute;
    height: 100%;
    width: 44px;
    display: flex;
    align-items: end;
    bottom: 3px;
}

.tooth-icon {
    width: 44px;
    height: 44px;
}

.remove {
    position: relative;
}

.remove::before,
.remove::after {
    content: "";
    position: absolute;
    right: 46%;
    top: 0px;
    background-color: #dc2626;
    width: 3px;
    height: 100%;
}

.remove::before {
    transform: rotate(45deg);
}

.remove::after {
    transform: rotate(-45deg);
}

.implant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 44px;
}

.implant-stem {
    width: 0.2em;
    height: 0.75em;
    background-color: #2563eb;
}

.implant-arrow {
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-bottom: 0.4em solid #2563eb;
}

.crown {
    border: 3px solid #16a34a;
    border-radius: 50%;
    color: #16a34a;
    box-sizing: border-box;
}

.endodontics {
    border: 3px solid #7c3aed;
    border-radius: 50%;
    color: #7c3aed;
    box-sizing: border-box;
}

.temporary {
    border: 3px solid #d97706;
    border-radius: 50%;
    color: #d97706;
    box-sizing: border-box;
}

.bridge {
    position: relative;
}

.bridge::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid #dc2626;
}

.trigger-selection {
    font-size: 0.875rem;
    line-height: 1.25rem;
    cursor: pointer;
    position: relative;
}

.clear-selection {
    background-color: gray;
    color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
    right: -7px;
    opacity: 0.9;
    display: none;
}

.trigger-selection:hover .clear-selection {
    display: flex;
}

.clear-selection i {
    font-size: 10px;
}

.odontogram-legend {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;

    .bridge::after {
        bottom: 40%;
    }

    .implant {
        font-size: 16px;
        padding-left: 4px;
    }

    .remove::before,
    .remove::after {
        width: 2px;
    }

    > div {
        width: auto;

        h4 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            li {
                display: flex;
                align-items: center;
                margin-bottom: 0.25rem;

                div {
                    margin-right: 0.25rem;
                }

                span {
                    font-size: 0.875rem;
                }
            }
        }
    }

    .parts {
        width: 400px;
        ul {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    > div:nth-of-type(2) {
        ul {
            li span:nth-of-type(1) {
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;
                margin-right: 0.25rem;
            }
        }
    }
}
